<section class="footer">
  <div class="main-container">
    <div class="global-width">
      <div class="card-box">
        <img src="../../assets/images/footer-bg.png" alt="" />
      </div>
      <div class="footer-contents">
        <div class="footer-cards">
          <img src="../../assets/images/logo.png" alt="" class="logo" />
          <div class="footer-box">
            <a href="">Terms & conditions</a>
            <a href="">Privacy Policy</a>
          </div>
          <p>Copyright 2021 © Solvo Global. All rights reserved.</p>
        </div>
        <div class="footer-cards">
            <div class="contact-box">
                <img src="../../assets/images/mail.png" alt="">
                <h4>sales@solvoglobal.com</h4>
            </div>
            <div class="contact-box">
                <img src="../../assets/images/call.png" alt="">
                <h4> (+1) (346) 334.6627</h4>
            </div>
            
        </div>
        <div class="footer-cards">
         <h4 class="stay">Stay in the Loop</h4>
         <div class="input-sec">

             <input type="text" name="" id="" placeholder="Email address...">
             <a href=""><span class="material-icons-round send">
                send
                </span></a>
             
         </div>
        </div>
        <div class="footer-cards">
            <div class="social-sec">

                <img src="../../assets/images/fb.png" alt="" class="social-icon">
                <img src="../../assets/images/insta.png" alt="" class="social-icon">
                <img src="../../assets/images/link.png" alt="" class="social-icon">
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
