<section class="positions">
  <div class="global-width">
    <h1 class="main-title">Open Positions</h1>
    <div class="accordion-container">
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Accounting</h4>
            <button (click)="clickEvent()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status ? '' : 'show'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Logistics</h4>
            <button (click)="demo()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status2 ? '' : 'show2'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Accounting</h4>
            <button (click)="clickEvents()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status3 ? '' : 'show3'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Logistics</h4>
            <button (click)="click4()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status4 ? '' : 'show4'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Accounting</h4>
            <button (click)="click5()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status5 ? '' : 'show5'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Logistics</h4>
            <button (click)="click6()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status6 ? '' : 'show6'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Accounting</h4>
            <button (click)="click7()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status7 ? '' : 'show7'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="accord-card">
        <div class="my_class">
          <div class="top-box">
            <h4 class="card-title">Logistics</h4>
            <button (click)="click8()">
              <h4 class="btn2">Position</h4>
            </button>
          </div>
          <div class="content" [ngClass]="status8 ? '' : 'show8'">
            <ul class="lists">
              <li><a href="">Senior Accountant</a></li>
              <li><a href="">Junior Accountant</a></li>
              <li><a href="">Bookkeeper</a></li>
            </ul>
            <button class="main-btn li-btn">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
