<section class="opens global-width">
  <div class="top-contents">
    <h1 class="main-title">Become a <span>Soulver</span></h1>
    <p class="main-text">
      Soulvers are passionate, hungry for success and highly motivated. Wouldn’t
      you like to join this team? Becoming a Soulver is more than signing a
      contract. It’s building valuable relationships that will last for years.
      Solvo offers you the opportunity to build a great career doing work that
      matters, while being part of a dynamic team. If you are professional and
      bilingual, this is your chance to take your career to the next level.
    </p>

    <div class="texts">Interested? Check out our open positions.</div>
    <button class="main-btn open-btn">VIEW OPEN POSITIONS</button>
  </div>

  <div class="card-box">
    <div class="cards">
        <img src="../../assets/images/Mask Group 6.png" alt="" class="open-img">
    </div>
    <div class="cards">
        <img src="../../assets/images/Mask Group 7.png" alt="" class="open-img">
    </div>
    <div class="cards">
        <img src="../../assets/images/Mask Group 8.png" alt="" class="open-img">
    </div>
  </div>
</section>
