<section class="who">
  <div class="global-width">
    <div class="top-sec">

        <div class="main-card">
          <h1 class="main-title">Who We Are.</h1>
    
          <h3 class="main-text">soulver <span>[sohl-ver]</span></h3>
          <p class="main-para">
             1. a person who puts their heart and soul
            into their work every day, delivering exceptional service to each
            client.
          </p>
          <p class="main-para"> 2. one who feels joy and shares it with others.</p>
    
          <button class="main-btn">Apply today</button>
        </div>
    </div>
    <!-- <marquee behavior="" direction="">soulver [sohl-ver] | soulver [sohl-ver] | soulver [sohl-ver] | soulver</marquee> -->

    <!-- <marquee behavior="" direction="">sovo</marquee> -->
  </div>
  <p>soulver <span class="blue-small">[sohl-ver] </span> <span class="white-bar"> | </span><span class="orange"> soulver </span> <span class="orange-small"> [sohl-ver] </span>  <span class="white-bar">|</span> <span class="white"> soulver  </span> <span class="white-small"> [sohl-ver] </span><span class="white-bar">|</span></p>

</section>
